language: swift
osx_image: xcode9.3
cache: cocoapods
podfile: MarkPredictor/Podfile
before_install:
 - gem update cocoapods 
 - pod install 
script:
  - xcodebuild -scheme MarkPredictor -workspace MarkPredictor.xcworkspace -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 6S,OS=10.0' build test
after_success:
  - bash <(curl -s https://codecov.io/bash)
